.footer {
  $baseHeaderSize: 70px;
  $headerFontSize: 14px;
  $headerFontSizeSmall: 10px;
  $iconSize: 20px;
  $iconSizeSmall: 15px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: $baseHeaderSize + 10;
  padding: 5px;
  width: 100%;
}

.language-buttons {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
