body {
    display: flex;
    height: 600px;
    align-items: start;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:focus {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}