body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

footer, nav, header, section, aside {
    display: block;
}

div.totalcont {
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#header {
    background-color: green;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#leftmenu {
    background-color: #f5f500;
    width: 220px;
    display: block;
    padding: 10px
}

#maincont {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

div.workcont {
    width: 100%;
}

#seafishcont {
    padding-bottom: 10px;
}

#descrcont {
    padding-left: 20px;
    margin-top: 10px;
    height: 40px;
}

#listcont {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.fishcont {
    background-color: #f5f500;
    padding: 10px;
}

div.favnamecont {
    padding-left: 20px;
}

#itemscont {
    display: flex;
    padding: 10px;
    margin-top:20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.itemc {
    background-color: #f5f500;
    width: 200px;
    display: flex;
    margin-bottom: 10px;
}

div.pictc {
    background-color: lightgray;
    width: 60px;
    height: 60px;
    margin: 10px;
}

div.itemdescrc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.itembutc {
    background-color: lightgray;
    width: 70px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#footer {
    background-color: #f5f500;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 0 0 auto;
}

a:link.menuref {
    color: black;
    text-decoration: none;
}

a:visited.menuref {
    color: black;
    text-decoration: none;
}

a:focus.menuref {
    color: black;
    text-decoration: none;
}

a:hover.menuref {
    color: blue;
    text-decoration: underline;
}
