html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

div.totalcont {
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    min-width: 800px;
}

.header {
    background-color: green;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    min-width: 800px;
}

.leftmenu {
    background-color: #f5f5f5;
    width: 240px;
    display: block;
    padding: 10px;
    min-width: 240px;
    max-width: 240px;
}

.maincont {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.workcont {
    width: 100%;
}

.seafishcont {
    padding-bottom: 10px;
}

.descrcont {
    padding-left: 20px;
    margin-top: 10px;
    height: 40px;
}

.listcont {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fishcont {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
}

.favnamecont {
    padding-left: 20px;
}

.itemscont {
    display: flex;
    margin-top:20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.itemc {
    background-color: #f5f5f5;
    width: 200px;
    display: flex;
    margin: 10px;
}

.pictc {
    background-color: lightgray;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.itemdescrc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.itembutc {
    background-color: lightgray;
    width: 70px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 0 0 auto;
}

a:link.menuref {
    color: black;
    text-decoration: none;
}

a:visited.menuref {
    color: black;
    text-decoration: none;
}

a:focus.menuref {
    color: black;
    text-decoration: none;
}

a:hover.menuref {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 519px) {
    .leftmenu {
        display: none;
    }
}