html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.totalcont {
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    min-width: 820px;
}

.header {
    background-color: green;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    min-width: 820px;
}

.maincont {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.fish-menu {
    background-color: #f5f5f5;
    width: 240px;
    display: block;
    padding: 10px;
    min-width: 240px;
    max-width: 240px;
}

.workcont {
    width: 100%;
}

.fish-menu__seafish {
    padding-bottom: 10px;
}

.descrcont {
    padding-left: 20px;
    margin-top: 10px;
    height: 40px;
}

.reclam-list {
    display: grid;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3];
}

.reclam-list__block {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
}

.popular-items__name {
    padding-left: 20px;
}

.popular-items__cards {
    display: flex;
    margin-top:20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-items__item-card {
    background-color: #f5f5f5;
    width: 200px;
    display: flex;
    margin: 10px;
}

.popular-items__pict {
    background-color: lightgray;
    width: 60px;
    height: 60px;
    margin: 10px;
}

.popular-items__itemdescr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.popular-items__itembut {
    background-color: lightgray;
    width: 70px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex: 0 0 auto;
}

a:link.popular-items__ref {
    color: black;
    text-decoration: none;
}

a:visited.popular-items__ref {
    color: black;
    text-decoration: none;
}

a:focus.popular-items__ref {
    color: black;
    text-decoration: none;
}

a:hover.popular-items__ref {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 519px) {
    .fish-menu {
        display: none;
    }
}

.popular-items__item-card_theme-dark {
    background-color: darkgray;
}

.popular-items__item-card_theme-light {
    background-color: lightgray;
}

.fish-menu_theme-dark {
    background-color: darkgray;
}

.fish-menu_theme-light {
    background-color: lightgray;
}

.reclam-list__block_theme-dark {
    background-color: darkgray;
}

.reclam-list__block_theme-light {
    background-color: lightgray;
}

.footer_theme-dark {
    background-color: darkgray;
}

.footer_theme-light {
    background-color: lightgray;
}

